
### matching files
*.sh
*.ts
*.md
*.txt
*.log
*.json
*.yml
*.DS_Store

### folders
.idea
node_modules
coverage
.nyc_output
test
.github
.tscmultiwatch
.vscode

### files
.gitignore
.npmignore
.gitattributes
suman.conf.js
.editorconfig
.babelrc
.dockerignore
package-lock.json
yarn.lock

### negation
!*.d.ts
